<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<link href="/style.css" rel="stylesheet">	
</head>
<body>
<footer>
	<div class="container-fluid padding">
		<div class="row text-center">
			<div class="col-md-4">
				<!-- <img src="/logo.png" alt=""> -->
				<hr class="light">
				<p>555-555-555</p>
				<p>email@email.com</p>
				<p>100 street name</p>
				<p>Jl. Terusan Panyileukan No. 11 Soekarno Hatta Bandung-40614</p>
			</div>
			<div class="col-md-4">
				<hr class="light">
				<h3>Jam Kerja staff</h3>
				<hr class="light">
				<p>Senin-Jumat: 9.00-17.00 WIB</p>
				<p>Sabtu: 10.00-16.00 WIB</p>
				<p>Minggu: Tutup</p>
			</div>
			<div class="col-md-4">
				<hr class="light">
				<h3>Alamat KB-TK Al-Biruni Cerdas Mulia</h3>
				<hr class="light">
				<li>Jl. Aria Utama No. 35 Aria Graha Tlp. 022-7531577</li>
				<li>Jl. Pinus VII No. 18 Bumi Adipura Tlp. 022-87524832</li>
				<li>Griya Caraka H-1 Cingised Arcamanik Tlp. 0817-2332-926 / 0896-1282-5532</li>
				<li>Jl. Venus Barat IX No. 8 Metro Tlp. 022-7567377</li>
				<li>Jl. Sidomukti 57 Sukaluyu-Surapati Tlp. 022-2506957</li>
			</div>
			<div class="col-12">
				<hr class="light-100">
				<h5>Copyright © 2020 - All Rights Reserved - </h5>
			</div>
		</div>
	</div>
</footer>
</body>
</html>